.jumbo {
    margin-top: 80px; 
}

.jumbotron {
    box-shadow: 0 2px 5px 0 darkslategray;
    font-family: 'Patua One', cursive;
    font-size: 1.3em;
    /* width: 50%; */
    /* height: 330px;; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.instructions {
    text-align: center;
}